%h1= "Publisher: " + @publishers.name
%h5
  = link_to "Edit Publisher", trestle.edit_publishers_admin_path(@publishers.id)
  %h3
    = "Catalog"
  %h5
    %ul
      - Book.where(publisher_id: @publishers.id).each do |c|
        %li= link_to c.title, action: "show", controller: 'books', id: c.id