%h1= "Publisher:  #{ @publisher.name }"
%h5
  = link_to "Edit Publisher", trestle.edit_publishers_admin_path(@publisher.id)
  %h3 Catalog
  %h5
    %ul
      - @publisher.books.each do |c|
        %li= link_to c.title, book_path(c)