%h1= "Subject: " + @subject.name
%h5
  = link_to "Edit Subject", trestle.edit_subjects_admin_path(@subject.id)
  %h3 Books
  %h5
    %ul
      - @subject.books.each do |c|
        %li= link_to c.title, book_path(c.id)
