a:link,
a:active,
a:visited {
  text-decoration: none !important;
}
ul#subjects .btn-light,
ul#books .btn-light {
  background-color: #808080;
}
ul#subjects .btn-light a:link,
ul#subjects .btn-light a:active,
ul#subjects .btn-light a:visited,
ul#books .btn-light a:link,
ul#books .btn-light a:active,
ul#books .btn-light a:visited {
  color: white !important;
}
.btn-outline-danger {
  margin: 0.25em;
}
.btn-outline-danger a:link,
.btn-outline-danger a:active,
.btn-outline-danger a:visited {
  color: red !important;
}
.btn-outline-danger:hover a:link,
.btn-outline-danger:hover a:active,
.btn-outline-danger:hover a:visited {
  color: white !important;
}
