// Place all the styles related to the Book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

a:link,
a:active,
a:visited {
  text-decoration: none !important;
}

.container,
ul#subjects {
  .btn-light {
    background-color: #808080;

    a:link,
    a:active,
    a:visited {
      color: white !important;
    }

    &:hover {
      background-color: #444;
    }
  }
}

.btn-outline-danger {
  margin: 0.25em;

  a:link,
  a:active,
  a:visited {
    color: red !important;
  }

  &:hover {
    a:link,
    a:active,
    a:visited {
      color: white !important;
    }
  }
}
